<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLOPS CLASS ACTIVITY 1</title>
</head>
<body>
    <h1>
        This is a MLOPS Assignment 1 by Afnaan And Faizan
    </h1>
    <p>
        I wrote this to check for error
    </p>
    <p>
        This is written after testing the piepline for the final chechking <br> of the CICD pipelin 
    </p>
    <p>
        Added this new feature on
        07-03-2025
        at 10:19pm
        In feature 1 branch ..
        Final Testing before merger
    </p>
    <h2>
        Afnaan Asif 21i-1387
        Faizan ul Haq 21i-1771...
    </h2>
</body>
</html>